{% extends "base.html" %}

{% block content %}
<h2>Welcome!</h2>
<h3>List of books:</h3>
<ul>
    <li><a href="/books">List of books (JSON API)</a></li>
    <li><a href="/docs">Swagger</a></li>
</ul>
<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>
                <a href="/books/{{ book.id }}/edit">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
