name: CI - Lint, Test, Build

on:
  push:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Check code
        uses: actions/checkout@v4
      
      - name: Python setup
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
        
      - name: Install dependency
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Linting
        run: |
          pip install flake8
          flake8 .

      - name: Run tests
        run: |
          pytest -q --maxfail=1

      - name: Build
        run: |
          docker build -t app-test .
