name: Tag based Release

on:
  push:
    tags:
      - 'v*'
      
jobs:
  build-and-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Log in Dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build
        run: |
          docker build \
            -t ${{ secrets.DOCKER_USERNAME }}/final-project-devops:${{ github.ref_name}} \
            -t ${{ secrets.DOCKER_USERNAME }}/final-project-devops:latest .

      - name: Push
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/final-project-devops:${{ github.ref_name}}
          docker push ${{ secrets.DOCKER_USERNAME }}/final-project-devops:latest
